/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*FONTS*/



/*GLOBAL*/

body {
	margin: 0px;
	padding: 0px;
    background: black;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
    
}
p, ul {
	-webkit-margin-before: 0em;
	margin-block-start: 0em;
	-webkit-margin-after: 0em;
	margin-block-end: 0em;
	margin: 0 0 25px 0;
	padding: 0;
}
p {
	line-height: 26px;
}

h1, a {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
}
h1 {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%); 
}

a {
	position: fixed;
	top: 10px;
	text-align: center;
    width: 100%;
    text-decoration: none;
    color: white;
}



h2 {
	-webkit-margin-before: 0em;
	margin-block-start: 0em;
	-webkit-margin-after: 0em;
	margin-block-end: 0em;
    border:0;
}